<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
  <meta charset="UTF-8">
  <title>Preict User Keystroke</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="login">
    <h1>Predict Salary Analysis</h1>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="model" placeholder="Model : RF | SVM | XGB" required="required" /><br>
      <br>
      <input type="text" name="HT_Mean" placeholder="HT Mean" required="required" />
      <input type="text" name="HT_STD" placeholder="HT Std Dev" required="required" /><br>
      <input type="text" name="PPT_Mean" placeholder="PPT Mean" required="required" />
      <input type="text" name="PPT_STD" placeholder="PPT Std Dev" required="required" /><br>
      <input type="text" name="RRT_Mean" placeholder="RRT Mean" required="required" />
      <input type="text" name="RRT_STD" placeholder="RRT Std Dev" required="required" /><br>
      <input type="text" name="RPT_Mean" placeholder="RPT Mean" required="required" />
      <input type="text" name="RPT_STD" placeholder="RPT Std Dev" required="required" /><br>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}

  </div>


</body>

</html>